<div class="container-fluid">
<h1> {{title}} </h1>

<h2>Contacts:</h2>
   <ul class="contact-list">
     <li *ngFor="let contact of contacts" class="card">
       <div class="panel panel-default">
         <div class="panel-body">
           <p class="name">{{ contact.name }}</p>
           <div class="info">
             <p><label>Phone: </label><span>{{ contact.phone }}</span></p>
             <p><label>Email: </label><span>{{ contact.email }}</span></p>
             <p>
               <button class="btn btn-default favorite" (click)="toggleFavorite(contact)"><span class="glyphicon" [ngClass]="{'glyphicon-heart colored': contact.favorite ,'glyphicon-heart-empty': !contact.favorite }" aria-hidden="true">
               </span> Favorite</button>
             </p>
             <p>
               <button class="btn btn-default" (click)="gotoEdition(contact.id)">
                 <span class="glyphicon glyphicon-edit" aria-hidden="true"> Edit</span>
                 <!--a [routerLink]="['/contact-edition', contact.id]">Edit</a-->
              </button>
             </p>
           </div>
        </div>
      </div>
     </li>
   </ul>
</div>
