<div class="container-fluid" *ngIf="contact">
<h1> {{title}} </h1>

<h2>Contact: </h2>
       <div class="panel panel-default">
         <div class="panel-body">
           <p class="name">{{ contact.name }}</p>
           <div class="info">
             <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
               <p><label>Phone: </label>
                 <input type="text" formControlName="name">
               </p>
               <p><label>Email: </label>
                 <input type="email" formControlName="email">
               </p>
               <p><label>Phone: </label>
                 <input type="text" formControlName="phone">
               </p>
               <p>
                 <button class="btn btn-default favorite" (click)="toggleFavorite(contact)"><span class="glyphicon" [ngClass]="{'glyphicon-heart colored': contact.favorite ,'glyphicon-heart-empty': !contact.favorite }" aria-hidden="true">
                 </span> Favorite</button>
               </p>
               <p>
                 <button class="btn btn-default" type="submit" [disabled]="!contactForm.valid">
                    Submit
                 </button>
               </p>
             </form>
             <p>Form value: {{ contactForm.value | json }}</p>
             <p>Form status: {{ contactForm.status | json }}</p>
           </div>
        </div>
      </div>
</div>
