<div class="container-fluid" *ngIf="contact">
<h1> {{title}} </h1>

<h2>Contact: </h2>
       <div class="panel panel-default">
         <div class="panel-body">
           <p class="name">{{ contact.name }}</p>
           <div class="info">
             <p><label>Phone: </label><span>{{ contact.phone }}</span></p>
             <p><label>Email: </label><span>{{ contact.email }}</span></p>
             <p>
               <button class="btn btn-default favorite" (click)="toggleFavorite(contact)"><span class="glyphicon" [ngClass]="{'glyphicon-heart colored': contact.favorite ,'glyphicon-heart-empty': !contact.favorite }" aria-hidden="true">
               </span> Favorite</button>
             </p>
             <p>
               <button class="btn btn-default">
                 Submit
              </button>
             </p>
           </div>
        </div>
      </div>
</div>
